<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Character Generator</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/characters.controller.js"></script>
</head>
<body ng-app="app" ng-controller="CharactersController as vm">
<div class="container" style="margin-top: 20px;">
    <nav class="row navbar navbar-inverse">
        <h1 style="text-align: center; color: white; padding-bottom: 10px;">Character Generator</h1>
    </nav>

    <form style="margin-bottom: 10px;">
        <div class="row" style="margin-top: 20px; font-size: 25px;">
            <div class="col-md-3 form-group">
                <label class="control-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" autocomplete="off"
                       ng-model="vm.characters.name" style="margin-bottom:5px" maxlength="22"/>
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label" for="breed">Breed</label>
                <select class="form-control" id="breed" name="breed" ng-model="vm.characters.breed">
                    <option value="">Select...</option>
                    <option ng-repeat="breed in vm.breeds" value="{{breed.value}}">{{breed.name}}</option>
                </select>
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label" for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender" ng-model="vm.characters.gender">
                    <option value="">Select...</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select>
            </div>
            <div class="col-md-3 btn-group" style="padding-top: 40px;">
                <button class="btn btn-primary" style="margin-left: 35px; margin-right: 5px;"
                        ng-click="vm.create(vm.characters.name, vm.characters.gender, vm.characters.breed)"
                        ng-disabled="form.$invalid">
                    <i class="glyphicon glyphicon-ok"></i>&nbsp; Create
                </button>
                <button class="btn btn-warning"
                        ng-click="vm.randomCharacter()"
                        ng-disabled="form.$invalid">
                    <i class="glyphicon glyphicon-random"></i>&nbsp; Random
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div ng-repeat="character in vm.characters">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail" style="text-align: center;">
                    <img style="width:200px;height:200px" src="{{character.image}}"
                         alt="{{character.breed}}{{character.gender}}">
                    <div class="caption">
                        <h4 style="font-weight: bold;">{{character.name | limitTo: 22}}</h4>
                        <p style="font-style: italic;">
                            {{character.breed}}&nbsp;&nbsp;-&nbsp;&nbsp;{{character.gender}}</p>
                        <p>
                            <a ng-click="vm.remove(character.id)" class="btn btn-danger" role="button">
                                <i class="glyphicon glyphicon-remove"></i>&nbsp; Remove</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>